@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --blue: #2196f3;
  --gray: #757575;
  --black: #212121;
  --icon-gray: #afb1b8;
  --lightgray: #f5f4fa;
  --background: #fff;
  --dark-background: #2f303a;
  --bold: 700;
  --white: #fff;
  --overlay-background: rgba(33, 150, 243, 0.9);
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  list-style: none;
  color: var(--black);

  font-size: 16px;
  letter-spacing: 0.03em;
  background-color: var(--background);
  margin: 0;
}
address {
  font-style: normal;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
img,
button {
  display: block;
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.header__container {
  border-bottom: 1px solid var(--lightgray);
}

.header__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* width: 1200px; */
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.navigation__item {
  display: inline-block;
  position: relative;
}
.contact-links {
  margin-left: auto;
  display: flex;
  gap: 50px;
}
/* START -- Shared Styles -- */

.active--link {
  color: var(--blue);
}
.logo--light {
  color: var(--white);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: var(--bold);
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: var(--bold);
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black);
  text-decoration: none;
}
.logo-accent {
  color: var(--blue);
}

.navigation__content {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  gap: 40px;
}

.navigation__link {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--black);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation__link--contact {
  color: var(--gray);
}

.navigation__link--active {
  color: var(--blue);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__content {
  text-decoration: none;

  display: flex;
  flex-direction: row;
  gap: 70px;
}

.footer__text {
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
}

.footer__text--contact {
  color: rgba(255, 255, 255, 0.6);
}
.footer__text--contact:hover {
  color: var(--blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-column {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
/* BUTTONS */

.button__primary {
  background-color: var(--blue);
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 43px 10px 43px;
}
.button__primary--bold-text {
  font-weight: var(--bold);
  font-size: 16px;
  line-height: 1.87;
  color: var(--white);
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  border-radius: 4px;
  text-align: center;
}

.button__secondary {
  background-color: var(--lightgray);
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
}

.button__secondary--light-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  color: var(--black);
  letter-spacing: 0.03em;
  text-align: center;
}

.button__secondary--light-text:hover,
.button__secondary--light-text:focus {
  color: var(--white);
  background-color: var(--blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -- BUTTONS STYLE END -- */
/* END -- Shared styles -- */

/* -- INDEX.HTML STYLES -- */

.hero__container {
  z-index: 99;
  display: flex;
  justify-content: center;
}

.header-img {
  display: flex;
  z-index: 0;
}
.hero__title {
  color: var(--white);
  font-size: 44px;
  font-weight: 900;
  text-align: center;
}

.hero__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 616px;
  padding: 200px 455px 200px 455px;
  gap: 30px;
  background-image: url('../images/header.png');
  background-color: rgba(47, 48, 58, 0.4);
}

.section__filters {
  padding-top: 94px;
}
.section-4-col__container {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-4-col__container--light-bg {
  background-color: var(--lightgray);
}
.section-4-col__content {
  display: flex;
  flex-direction: row;

  gap: 30px;
  justify-content: space-between;
  padding: 0;
}

.section-4-col__item {
  list-style: none;
  background-color: var(--white);
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-4-col__item--no-shadow {
  list-style: none;
  background-color: var(--white);
}

.section-4-col__title {
  font-weight: var(--bold);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.section-4-col__title--big {
  color: var(--black);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: none;
  padding-bottom: 50px;
}

.section-4-col__title--medium {
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: none;
  padding-top: 30px;
  padding-bottom: 10px;
}
.section-4-col__text {
  color: var(--gray);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-4-col__text--medium {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.section-3-col__container {
  display: flex;
  padding-bottom: 94px;
}

.section-3-col__title {
  font-weight: var(--bold);
  color: var(--black);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.section-3-col__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
  padding: 0;
  gap: 30px;
  align-items: center;
}

.section-3-col__item {
  list-style: none;
  position: relative;
}

.section-3-col__content-box {
  margin: 0;
  padding: 0;
}
.section-3-col__content-box:hover,
.section-3-col__content-box:focus {
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  margin: 0;
  padding: 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-3-col__content-box__title {
  font-weight: var(--bold);
  font-size: 18px;
  line-height: 2;
  margin: 0;
}

.section-3-col__content-box__text {
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--gray);
  margin: 0;
}

.section-3-col__content-box__figcaption {
  padding: 20px 24px 20px 24px;
}
.section-3-col__content-box--overlay {
  position: relative;
  overflow: hidden;
}
.section-3-col__content-box__figcaption--border {
  border-bottom: 1px solid var(--lightgray);
  border-left: 1px solid var(--lightgray);
  border-right: 1px solid var(--lightgray);
}
/* -- END INDEX.HTML STYLES -- */
/* -- START PORTFOLIO.HTML STYLES -- */

.section-1-col__container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.section-1-col__content {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}

/*.section-1-col__item {
}*/

/* -- icons -- */
.contact-links--item:hover,
.contact-links--item:focus {
  fill: #2196f3;
  color: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-features {
  width: 270px;
  height: 120px;
  padding-bottom: 30px;
}

.icon-contact--mail {
  width: 16px;
  height: 12px;
}

.icon-contact--phone {
  width: 10px;
  height: 16px;
}

.icon-social {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 50%;
  border: none;
  fill: var(--icon-gray);
}
.icon-social--gray {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-social:hover,
.icon-social:focus {
  background-color: var(--blue);
  fill: var(--white);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.contact-links--item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  fill: var(--gray);
}

.social-icons__container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  padding-top: 16px;
}

.footer-social-links--title {
  font-weight: var(--bold);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.footer-social-links__container {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-social-links__content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.icon-clients {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--icon-gray);
}

.icon-clients:hover,
.icon-clients:focus {
  fill: var(--blue);
  border: 1px solid var(--blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -- Overlay classes -- */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-background);
  transform: translatey(100%);
  transition: transform 250ms ease;
  display: flex;
  align-items: center;
}

.overlay__text {
  color: var(--white);
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  flex-basis: 301px;
  letter-spacing: 0.03em;
}

.section-3-col__content-box:hover .overlay {
  transform: translatex(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-3-col__img {
  position: relative;
  z-index: -1;
}

.text-box {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box--overlay {
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white);
}
.text-box__paragraph {
  padding-bottom: 27px;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
}

.navigation__link__underline-active {
  border-radius: 2px;
  position: absolute;
}

.navigation__link__underline-active::after {
  content: '';
  border-radius: 2px;
  width: 53px;
  height: 4px;
  background-color: var(--blue);
  position: absolute;
  top: 28px;
}

/* -- Modal -- */

.backdrop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.modal {
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  margin-top: 221px;
  z-index: 1;
  background-color: var(--white);
  height: 581px;
  width: 528px;
  border-radius: 4px;
  justify-content: flex-end;
}

.is-hidden {
  pointer-events: none;
  visibility: none;
  opacity: 0;
}

.modal__close-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #000;
}

.modal__close-button__icon {
  fill: #000;
}

.modal__close-button:hover {
  background-color: var(--blue);
  fill: var(--white);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
